<%- include('includes/header'); %>
    <h2>Dokument</h2>
    <form class="new-doc">
        <label for="title">Titel</label>
        <input type="text" name="title" value="<%= doc.title %>" />

        <label for="content">Innehåll</label>
        <textarea name="content"><%= doc.content %></textarea>

        <input type="submit" value="Uppdatera" />
    </form>
    <script>
        const form = document.querySelector('.new-doc');
        form.addEventListener('submit', (e) => {
            e.preventDefault();
            const title = document.querySelector('.new-doc input[name="title"]').value;
            const content = document.querySelector('.new-doc textarea[name="content"]').value;
            fetch("/<%= doc.id %>", {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    title,
                    content
                })
            })
            .then(res => res.json())
            .then(data => {
                console.log(data);
            })
        })
    </script>
<%- include('includes/footer'); %>
